html
{
font-family:  sans-serif;


background:  black url("../images/restaurant-above-view-1920x756.jpg") no-repeat fixed center;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
} 



   body {
    margin: 0; /* Убираем отступы на странице */
   }
 
   h2 {
	color: #fff; /* Цвет текста */
   }
 
   div {

    /*background: rgba(0, 170, 238, 0.5); /* Цвет фона */
    background: rgba(0, 0, 0, 0.3) !important; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Поля вокруг текста */
    text-align: center;
	
    /* такая настройка заставляет центрировать div, но background не расплывается по ширине
	display: table;
    margin: 0 auto;
	*/
    
   }

form {
  text-align: center;
}

input { 
  text-align: center; 
}
textarea  
{  
   font-family:"sans-serif", Arial;  
   font-size: 85%;
}
   
  table {
    /*background: black; /* Цвет фона таблицы */
    color: white; /* Цвет текста */
   }

   tr, th {

    text-align: center; /* выравнивание всех ячеек  */
   }

   #footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 1px; /* Поля вокруг текста */
    /*background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
	text-align: left;
   }


   #menu {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 20%; /* Левый нижний угол */
    padding: 1px; /* Поля вокруг текста */
    /*background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }



   #footer div {  /*for IE6*/
    padding: 1px; /* Поля вокруг текста */
    background: rgba(0, 0, 0, 0); /* Цвет фона */
    color: #fff; /* Цвет текста */
	text-align: right;
   }

   #highlight{  /*to highlight some text or link */
    padding: 5px; /* Поля вокруг текста */
    background: rgba(0, 0, 0, 0.3); /* Цвет фона */
    color: #fff; /* Цвет текста */
   }

   #cropContainerMinimal{  /* контнейнер для фото пользователя */
	width:600px; height:400px; 
	position: relative; border:1px solid #ccc;
	}
   
    a:link, a:visited, a:hover, a:active {  /* links not underlined and white*/

    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3); /* Цвет фона */
	padding: 8px; /* Поля вокруг текста */
   }

